/* Fondo de página */
h1.title.is-2.has-text-success {
    color: #006d3f !important;  /* Verde similar al del footer */
}

body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

/* Título principal */
.has-text-success {
    color: #2d6a4f !important;
}

/* Sección principal */
.section {
    padding: 40px 0;
}

/* Contenedor central */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Diseño de tarjetas */
.box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px); /* Sutil efecto al pasar el ratón */
}

/* Títulos secundarios */
.title.is-4 {
    color: #006d3f;
}

/* Estilo de botones */
button.is-link, a.button.is-link {
    background-color: #e65c00 !important; /* Naranja */
    color: white !important;             /* Texto blanco */
    border-radius: 5px !important;
    margin-top: 10px !important;
    font-size: 0.8rem !important;        /* Tamaño de fuente más pequeño */
    padding: 5px 10px !important;       /* Menor padding para hacer el botón más chico */
    line-height: 1.2 !important;         /* Ajusta la altura de la línea */
}

button.is-link:hover, a.button.is-link:hover {
    background-color: #FF7F00 !important; /* Naranja oscuro para el hover */
}


/* Footer */
footer {
    padding: 20px;
    background-color: #2d6a4f;
    color: white;
    border-radius: 10px;
}

footer p {
    margin: 0;
}

/* Espaciado entre las tarjetas */
.columns .column {
    margin-bottom: 20px;
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 768px) {
    .columns {
        display: block;
    }
}
